@tailwind base;
@tailwind components;
@tailwind utilities;

:root.light {
  background-color: #ffffff;
  color: #000000;
}

:root.dark {
  background-color: #171717;
  color: #ffffff;
}

@font-face {
  font-family: "abeezee";
  src: url("../Roboto-Regular.ttf");
}
